@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --BGCOLOR: #540808;
    --COLOR: #EAEAEA;
    --BUTTON-COLOR: #EFB7B7;
}

li{
    list-style-type: none;
}
a{
    text-decoration: none;
    margin: 0 2rem;
    color: var(--BGCOLOR);
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
h3{
    text-align: center;
    margin: 1.5rem 0;
    color: var(--BGCOLOR);
}
body{
   min-height: 100vh;
   background-color: #f0f0f0;
   font: 1.5rem 'Jost', sans-serif;
   font-weight: 500;
   color: #540808;
}
button:not(.menu-button, #welcome-section button){
    background-color: var(--BUTTON-COLOR);
    border: none;
    font-family: inherit;
    padding: 0.7rem 4.1rem;
    border-radius: 12px;
    color: var(--BGCOLOR);
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    display: flex;
    text-transform: capitalize;
} 

header {
    background-color: transparent;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    display: flex;
    top: 0;
    z-index: 99;
    padding: 1rem 2rem;
} 
#img-logo{
    display: grid;
}
#navbar ul{
    display: flex;
}

/* WELCOME SECTION STARTS */
#welcome-section{
    width: 100%; 
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(image6.jpg);
    background-size: cover;
    background-position: center;   
}
#welcome-section p{
    max-width: 400px;
    font-size: 24px;
    color: #EAEAEA;
    margin-top: 200px;
    margin-left: 95px;
}
#welcome-section button{
    background-color:#540808;
    border: none;
    padding: 1rem 1.3rem;
    border-radius: 1px;
    color: #FCF3F3;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 150px;
    margin-left: 95px;
} 


/* WELCOME SECTION END */
.grid{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    place-content: center;
    align-items: center;
    align-content: center;
}
.hold-img{
    width: 80%;
    height:auto;
    margin: 0 auto;
    justify-content: center;
    position: relative;
}
.hold-img img{
    border-radius: 30px;
}
.grid p{
    font-weight: bolder;
    color: var(--BGCOLOR);
    text-align: left;
}
.model-name p{
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: var(--COLOR);
    max-width: 50%;
   line-height: 0.8;
}

.line::before, .line::after{
    background-color: var(--BGCOLOR);
    content: " ";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
}
/* .line::before{
    right: 0.5em;
    margin-left: -50%
}
.line::after{
    left: 0.5em;
    margin-right: -50%
} */
.model-button{
    font-size: 16px;
}
.collab-button{
    font-size: 24px;
}
.about{
    color:#000;
    padding: 0 3rem;  
    justify-content: center;
   text-align: center;
   margin: 0 auto;
   
}
#footer{
    background-color: #C4C4C4;
    text-align: center;
    font-size: 1rem;

}
.footer{
    display:flex;
    justify-content: space-around;
    left: 0;
    bottom: 0;
}
.footer section{
    margin: 1rem;
}
.footer #button{
    font-size: 16px;
    padding:  0.7rem 2.5rem;
    display: flex;
    justify-content: flex-end;
}
footer  a{
  margin: 0;
}
::placeholder{
    color: var(--BGCOLOR);
    opacity: 0.3;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem 0;
}
footer input{
    border: none;
    background-color: transparent;
    color: var(--BGCOLOR);
    border-bottom: 2px solid var(--BGCOLOR);
    flex-shrink: 0;
    width: 100%;
    padding: 1rem 0.2rem;
}
input:focus{
    outline: none;
}
footer h4, footer li{
 text-align: left;
}


@media screen and (max-width: 900px) {
    #img-logo{
        display: none;
    }
    #welcome-section p{
        margin-top: 200px;
        margin-left: 95px;
    }
    #welcome-section button{
        margin-top: 200px;
        margin-left: 95px;
    }
  
}
@media screen and (max-width: 550px) {
    header{
        background-color: var(--BGCOLOR);
        padding: 0.3rem 0;
        display: block;
    }
    #img-logo{
        display: flex;
        justify-content: space-between;
        flex-flow: row nowrap;
        padding: 0.3rem;
    }
    .menu-button{
        background-color: transparent;
        width: 38px;
        height: 38px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .menu-icon, .menu-icon::before, .menu-icon::after{
        background-color: black;
        position: absolute;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        transition: all 0.5s;
    }
    .menu-icon::before, .menu-icon::after{
        content: "";
    }
    .menu-icon::before{
        transform: translate(-20px, -12px);
    }
    .menu-icon::after{
        transform: translate(-20px, 12px);
    }
   #navbar{
        display: none;
        transform-origin: top center;
        background-color: var(--BGCOLOR);
        /* animation: showMenu 0.5s ease-in-out forwards; */
    }
    #navbar ul{
        display: block;
        margin: 0;
        padding: 0;
    }
    /* @keyframes showMenu {
        0%{
            transform: scaleX(0);
        }
        80%{
            transform: scaleX(1.2);
        }
        100%{
            transform: scaleX(1);
        }
    } */
    nav ul li{
        display: flex;
        flex-flow: column nowrap;
        margin: 0;
        padding: 0;
    }
    nav li{
        border: 1px solid var(--COLOR);
    }
    nav a{
        margin:auto;
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        color: var(--BUTTON-COLOR);
    }
    /* nav a:hover{
        transform: scaleY(150%);
    }
    :is(header:hover, header:focus-within) .menu-icon{
        background-color: transparent;
        transform: rotate(720deg);
    }
    :is(header:hover, header:focus-within) .menu-icon::before{
        transform: translateX(-20px) rotate(45deg);
    }
    :is(header:hover, header:focus-within) .menu-icon::after{
        transform: translateX(-20px) rotate(-45deg);
    }
    :is(header:hover, header:focus-within) #navbar{
      display: block;
    } */
   
#welcome-section p{
    margin-top: 200px;
    margin-left: 30px;
}
#welcome-section button{
    margin-top: 100px;
    margin-left: 30px;
}
}
@media screen and (max-width: 500px) {
    h3{
        font-size: 1.5rem;
    }
    .grid{
    display: grid; 
      grid-template-columns: repeat(2, 1fr);
      gap: 0.5rem;
      margin: 0 auto;
      justify-content: center;
    }
    .grid p{
        font-size: 1rem;
    }
    
.footer{
    padding: 0.5rem; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}   
.footer section{
    margin: 0.5rem; 
}   
}
